@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    font-family: "Lexend", sans-serif;
}

.b{
    padding: 6px 12px;
    border-radius:50px;
}
.btn{
    padding: 2px 8px;
    border-radius:50px;
    font-size: 12px;
    width: 100px;
}